# Kontrapunkt's original release
Kontrapunkt

# One-time dumps
empty.enc

# Intermediate builds
*.map
!shift.map
!Light/base.map
!Bold/base.map
*.pfa
features.kern
fontrev

# FDK's junk and logs
current.fpr
*.log*

# Final builds
build
